  html, body {
    margin: 0;
  }

  canvas {
    position: relative;
  }
  
  .controls {
    position: absolute;
    width: 50%;
    justify-content: center;
    bottom: 25px;
    left: 50%;
    transform: translateX(-50%);
    background: white;
    box-shadow: 0 6px 10px #00000023;
    border:1px solid #ededed;
    padding:18px 12px;
    display: flex;
    gap:25px;
    border-radius: 15px;
  }